@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/Helvetica.woff") format("woff");
}
@font-face {
    font-family: 'Korinna';
    src: url("../assets/fonts/OPTIKorinna-Agency.otf");
}
.jFont{
    font-family: 'Korinna';
}
.headerText{
    font-size:2.5rem
}
.bodyText{
    font-size:3.0rem;
    text-align:center
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 10%;
    min-height: 10%;
    max-height:100%;
    max-width:100%
}
.table-big{
    height:100% !important;
    background-color:none;
}
.card-special{
    /* color: white !important; */
    background-color:blue;
    border-color:blue;
}
.passBtn{
    margin-left:0.3rem;
}
.wrongBtn{
    margin-left:0.3rem;
}
td{
    text-align:center;
    font-family:Helvetica;
    color:gold;
    font-size: 2.5rem;
}
th{
    text-align:center;
    font-family: Helvetica;
    font-size: x-large;
}
.head-cell{
    max-height:25vh;
}
td:hover { 
    background-color:rgb(80, 80, 255);
    cursor: pointer;
}
.text-medium{
    font-size:100%;
    font-weight:bold;
}
a:hover{
    cursor: pointer;
}
body{
    background-color:blue;
    color:white;
}
